@model TechnoWeb.Models.Product

@{
    ViewData["Title"] = "Delete";
    Layout = "/Views/Shared/_AdminLayout.cshtml";
}
<style>
    body{
        font-size: larger;
    }
</style>
<div class="container">
    

    <h2>Ürünü silmek istediğinize emin misiniz ?</h2>
    <div>
        
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Category)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Category.Name)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Sil" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-warning">Listeye dön</a>
        </form>
    </div>
</div>